doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    meta(name='theme-color', content='#f6f6f6')

    title.
      React compact
    link(rel='stylesheet', href='css/all.css')
  body

    main.

      React compilation demo, yay!

    script(src='http://localhost:9810/compile?id=demo')
